---
import type { CollectionEntry } from 'astro:content';
import { marked } from 'marked';
import { getPostExcerpt } from '@/utils/collections';
import ArticleCard from '@components/blog/ArticleCard.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const excerpt = getPostExcerpt(post);
const processedExcerpt = marked.parse(excerpt);
---

<ArticleCard
  post={post}
  showImage={true}
  showExcerpt={true}
  headingSize="large"
  class="space-y-4"
/>

<div
  class="prose prose-sm dark:prose-invert max-w-none text-gray-700 dark:text-gray-300"
  set:html={processedExcerpt}
/>

<a href={`${post.id}`} class="text-primary inline-block hover:underline"> Read more → </a>
